<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rango</title>
    </head>
    <body>
        <h1>Login to Rango</h1>
        <form id="login_form" method="POST" action="/rango/login/">
            {% csrf_token %}
            <p>Username: <input type="text" name="username" value="" size="50" /> </p>
            <p>Password: <input type="password" name="password" value="" size="50"/> </p>
            <input type="submit" value="submit"/>
        </form>
        <p>Not a member? <a href="/rango/register/">Register Here</a></p>
    </body>
</html>